/****************************Fonts****************************/
@font-face{
    font-family: 'oswald';
    src: '../fonts/oswald.ttf';
}
/****************************Global Variables****************************/
$main-color: rgba(116, 116, 197, 0.794);
$main-font: oswald;

@import "navbar";
@import "./Home/slide.scss";
@import "./Home/sections.scss";
@import "./Home/men_section.scss";
@import "footer";


html{
    overflow-x: hidden;
}
body{
    margin:0;
    overflow-x: hidden;
}