nav{
    position: relative;
    margin: 0;
    padding:10px 0;
    display: flex;
    flex-flow:wrap;
    box-shadow: 0 .5px 2px 0 rgba(172, 116, 116, 0.185);
    background-color: rgb(255, 255, 255);
    justify-content: center;
    align-items: center;
    z-index: 42;
    .logo{
        padding: 0 20px;
        margin: 0 50px;
        a{
            text-decoration: none;
            color: $main-color;
            font: normal small-caps 600 35px/ 25px $main-font;
            height: 100%;
        }
    }
    .menu-icons{
        display: none;
        background-color: transparent;
        border: none;
        outline: none;
        margin: 0 0 21px;
        span{
            padding: 4px 19px;
            height: 2px;
            margin: 0;
            border-radius: 10px;
            display: block;
            background-color: rgba(114, 0, 0, 0.876);
        }
        span::before{
            content: '';
            padding: 3px 35px;
            height: 2px;
            border-radius: 10px;
            background-color: rgba(114, 0, 0, 0.876);
            display: block;
            margin: 8px -20px;
        }
        span::after{
            content: '';
            padding: 3px 35px;
            height: 2px;
            border-radius: 10px;
            background-color: rgba(114, 0, 0, 0.876);
            display: block;
            margin: -4px -20px;
        }
    }
    .menu-collapse{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 50%;
        ul.menu{
            display: flex;
            flex-flow: wrap;
            list-style: none;
            padding: 0;
            margin:0;
            transition: height .5s linear;
            li{
                margin: 8px 2px 12px; 
                transition: all .1s ease-in-out;
                font-family: oswald;
                font-weight: 400;
                font-size: 20px;
                text-transform: uppercase;
                a:hover{
                    cursor: pointer;
                    color: rgb(148, 3, 3);
                    font-size: 21px;
                }
                a{
                    padding:8px 15px;
                    text-decoration: none;
                    color: $main-color;
                    transition:all .4s ease-in-out;
                }
                a.active{
                    border-bottom: 3px solid $main-color;
                    color: rgb(148, 3, 3);
                    font-size: 21px;
                }
            }
        }
    }
    div.icons{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        color: $main-color;
        font-size: 25px;
        svg{
            margin: 0 10px;
            cursor: pointer;
            transition:all .4s ease-in-out;
        }
        svg:hover{
            cursor: pointer;
            color:rgb(70, 52, 52);
        }
        a{
            color:rgb(70, 52, 52);
            font-weight: 600;
        }
        div.cart-icon{
            position: relative;
            cursor: pointer;
            span{
                position: absolute;
                top: -1px;
                right: 1px;
                border-radius: 50%;
                background-color: blanchedalmond;
                padding: 1px 6px;
                font-size: 16px;
            }
        }
    }
    form[name="search-form"]{
        transition: .5s;
        position: absolute;
        top: 70px;
        right: 323px;
        height: 0;
        background-color: rgb(255 ,255 ,255);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        overflow: hidden;
        .sr-only{
            display: none;
        }
        input{
            width: 100%;
            height: 100%;
            border: none;
            outline: none;
            border-radius: 5px;
            background-color: $main-color;
            font-size: 22px;
            text-indent: 5px;
            color: rgba(231, 227, 227, 0.87);
        }
        datalist{
            font-size: 25px;
            outline:none;
            border: none;
        }
    }
    form[name="search-form"].open{
        height: 60px;
        z-index: 100;
        overflow: visible;
    }
    form[name="search-form"]::before{
        content: '';
        display: block;
        border: 0px solid $main-color;
        transition: .5s;
        position: absolute;
        top: -24px;
        right: 20px;
    }
    form[name="search-form"].open::before{
        border: 10px solid $main-color;
        border-top-color: transparent;
        border-right-color: transparent;
        border-left-color: transparent;
    }
    .cart{
        position: absolute;
        top: 102%;
        right: 0;
        width: 0px;
        border-bottom-left-radius: 10px;
        background-color: white;
        box-shadow: 0 0 2px 0 red;
        z-index: 100000;
        display: flex;
        flex-flow: column wrap;
        transition: .5s;
        .no-products{
            height: auto;
            text-align: center;
            svg{
                font-size: 35px;
            }
        }
        & > div {
            border-bottom: 1px solid;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            height: auto;
            margin: 10px 0;
            &>div{
                width: 100px;
                margin: 0 10px 0 0;
                position: relative;
                img{
                    width: 100%;
                    height: 100%;
                    border-radius: 10px;
                }
                .items-number{
                    position: absolute;
                    top: -6px;
                    right: -9px;
                    border-radius: 50%;
                    padding: 5px 10px;
                    background: $main-color;
                    color: white;
                }
            }
            h2{
                color: $main-color;
                font-size: 20px;
            }
            .trash-icon{
                width: 20%;
                cursor: pointer;
            }
            h3{
                width: 50%;
                text-align: center;
            }
        }
        a{
            width: 50%;
            margin: 20px auto;
            text-decoration: none;
            padding: 10px 15px;
            background-color: $main-color;
            color: rgb(255, 255, 255);
            text-align: center;
            border-radius: 10px;
            font-size: 20px;
            transition: .5s;
            &:hover{
                background-color: whitesmoke;
                color: black;
            }
        }
        &.open{
            width: 320px;
        }
    }
    // Start Media
    @media only screen and (max-width: 1199.99px){
        width: 100%;
        text-align: center;
        justify-content: space-around;
        position: relative;
        overflow: visible;
        .menu-icons{
            display: block;
            cursor: pointer;
            &.open{
                span, span::after, span::before{
                    transition: background .3s linear;
                    background-color: transparent;
                }
                span::after{
                    content: "X";
                    font-size: 55px;
                    font-weight: 900;
                    margin: -51px -33px;
                    color: rgba(114, 0, 0, 0.822);
                    cursor: pointer;
                }
            }
        }
        .menu-collapse{
            flex-direction: column;
            width: 0;
            height: 0;
            transition: width ease-in-out .8s;
            position: absolute;
            top: 57px;
            left: 0;
            ul.menu{
                display: none;
                width: 100%;
                flex-direction: column;
                text-align: center;
                margin: 20px 0 0 35px;
                li{
                    margin-top: 30px;
                }
            }
            form{
                width: 0;
                overflow: hidden;
            }
        }
        .menu-collapse.open{
            width: 100%;
            height: auto;
            display: block;
            position: absolute;
            top: 55px;
            left: 0;
            background: rgb(255 ,255 ,255);
            z-index: 10;
            ul.menu{
                display: block;
                margin: 20px auto;
            }
        }
        form[name="search-form"]{
            right: 50%;
            top: 58px;
            transform: translateX(15%);
        }
        form[name="search-form"]::before{
            right: 29px;
        }
    }
    @media only screen and (max-width: 576px){
        padding: 10px 2px;
        .logo{
            padding: 0;
            margin: 0;
            font-size: 30px;
        }
        .menu-icons{
            span::before, span::after{
                padding: 3px 25px;
            }
        }
        form[name="search-form"]::before{
            right: 60px;
        }
        form[name="search-form"]{
            top: 58px;
            transform: translateX(5%);
        }
        div.icons{
            font-size: 22px;
        }
    }
}
