section.spinner{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    h1{
        font-size: 70px;
        color: $main-color;
        text-align: center;
    }
}