section.sections{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    padding: 20px 40px;
    margin: 10px 0;
    @for $i from 1 through 3{
        .section_#{$i}{
            cursor: pointer;
            margin-bottom: 25px;
            border: 1px solid red;
            border-radius: 10px;
            height: 300px;
            width: 300px;
            background-image: url('../../assets/images/section#{$i}.jpg');
            background-size:cover ;
            background-position: center center;
            transition: all .3s ease-in-out;
            position: relative;
            .overlay{
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 10px;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                transition: all .3s ease-in-out;
            }
            h2{
                text-align: center;
                font: normal small-caps 600 38px/ 30px $main-font;
                color: rgb(164, 240, 193);
                opacity: 0;
                filter: opacity(0);
                transition: all .3s ease-in-out;
                text-decoration: none;
                &:hover{
                    text-decoration: underline;
                }
            }
            &:hover{
                box-shadow: 0 0 10px 0 $main-color;
                transform: scale(1.1,1.1);
                .overlay{
                    background-color: rgba(0, 0, 0, 0.452);
                }
                h2{
                    opacity: 1;
                    filter: opacity(100%);
                }
            }
            
        }
    }
}